DATABASE_URL="file:./dev.db"
JWT_SECRET="votre_secret_jwt_2026_examen"
JWT_EXPIRES_IN="24h"
PORT=3000
OPENAI_API_KEY="votre_cle_api_ici"
OPENAI_BASE_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
OPENAI_MODEL="gemini-2.0-flash"
WEBHOOK_SECRET="secret_examen_2026"